.c-header {
}

.c-typed {
    .u-a7 {
        display: inline-block;
    }

    .typed-cursor {
        display: inline-block;
        font-family: $font-primary;
        margin-bottom: 0.6em;
        $font-size: (
            $breakpoint-sm: 24px,
            $breakpoint-xl: 42px,
        );
        @include poly-fluid-sizing("font-size", $font-size);
        $line-height: (
            $breakpoint-sm: 32px,
            $breakpoint-xl: 44px,
        );
        @include poly-fluid-sizing("line-height", $line-height);
        letter-spacing: 2px;
        font-weight: normal;

        @include mq(sm) {
            letter-spacing: 0;
        }
    }
}

.c-text {
    max-width: 460px;
    color: $grey;

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }
}
